main{
    display: flexbox;
}

app-square{
    border: 1px gray solid;
    height: 150px; 
}

.grid{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 0px;
}
.block{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    font-size: 2em;
}
#start-over{
    border-radius: 0;
    height: 60px;
    width: 20%;
    text-transform: uppercase;
}
