<main>
    <span class="block" *ngIf="!winner">Next: {{player}}</span>
    <div class="block" *ngIf="winner">Player {{winner}} wins</div>

    <div class="block">
        <button id="start-over" mat-flat-button color="accent" (click)="newGame()">Start Over</button>
    </div>

    <div class="block">
        <div class="grid">
            <app-square *ngFor="let square of squares; let i = index" [disabled]=disabled [value]=square
                (click)="makeMove(i)">

            </app-square>
        </div>
    </div>
</main>